@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    İzmir<br />
    Balçova<br />
    <abbr title="Phone">P:</abbr>
    0507 0028588
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:muratkzms@outlook.com">muratkzms@outlook.com</a><br />

</address>